{
  "openapi": "3.1.0",
  "info": {
    "title": "likelion USW CMS API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://api.usw-likelion.kr",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/schedules/{scheduleId}/attendance-check-ins": {
      "post": {
        "tags": [
          "attendance-controller"
        ],
        "operationId": "checkIn",
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendanceCheckInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/certificates": {
      "post": {
        "tags": [
          "certificate-controller"
        ],
        "operationId": "issueCertificate",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/tokens": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "reissueAccessToken",
        "parameters": [
          {
            "name": "refresh_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "csrf_token",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/schedules": {
      "post": {
        "tags": [
          "admin-schedule-controller"
        ],
        "operationId": "create",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/schedules/{scheduleId}/attendance-code": {
      "get": {
        "tags": [
          "admin-attendance-controller"
        ],
        "operationId": "getCurrentCode",
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceCodeResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "admin-attendance-controller"
        ],
        "operationId": "createOrReissueCode",
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceCodeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/resources": {
      "post": {
        "tags": [
          "admin-resource-controller"
        ],
        "operationId": "create_1",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLearningResourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LearningResourceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/projects": {
      "post": {
        "tags": [
          "admin-project-controller"
        ],
        "operationId": "create_2",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminProjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/notices": {
      "post": {
        "tags": [
          "admin-notice-controller"
        ],
        "operationId": "create_3",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoticeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/files": {
      "post": {
        "tags": [
          "file-asset-controller"
        ],
        "summary": "업로드 완료 검증 및 파일 자산 등록",
        "operationId": "completeUpload",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileAssetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "파일 자산 등록 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileAssetResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileAssetResponse"
                }
              }
            }
          },
          "403": {
            "description": "관리자 권한 필요",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileAssetResponse"
                }
              }
            }
          },
          "404": {
            "description": "발급 기록 또는 S3 객체 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileAssetResponse"
                }
              }
            }
          },
          "409": {
            "description": "멱등 키 또는 파일 자산 충돌",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileAssetResponse"
                }
              }
            }
          },
          "413": {
            "description": "파일 크기 제한 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileAssetResponse"
                }
              }
            }
          },
          "415": {
            "description": "지원하지 않는 파일 형식",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileAssetResponse"
                }
              }
            }
          },
          "422": {
            "description": "업로드 메타데이터 불일치",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileAssetResponse"
                }
              }
            }
          },
          "502": {
            "description": "S3 연동 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileAssetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/file-upload-urls": {
      "post": {
        "tags": [
          "file-asset-controller"
        ],
        "summary": "파일 업로드 URL 발급",
        "operationId": "createUploadUrl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadUrlRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Presigned PUT URL 발급",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadUrlResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 필요",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadUrlResponse"
                }
              }
            }
          },
          "403": {
            "description": "관리자 권한 필요",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadUrlResponse"
                }
              }
            }
          },
          "413": {
            "description": "파일 크기 제한 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadUrlResponse"
                }
              }
            }
          },
          "415": {
            "description": "지원하지 않는 파일 형식",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadUrlResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounts": {
      "post": {
        "tags": [
          "account-controller"
        ],
        "operationId": "create_4",
        "parameters": [
          {
            "name": "onboarding_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "csrf_token",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/schedules/{scheduleId}": {
      "delete": {
        "tags": [
          "admin-schedule-controller"
        ],
        "operationId": "delete",
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "admin-schedule-controller"
        ],
        "operationId": "update",
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/resources/{resourceId}": {
      "patch": {
        "tags": [
          "admin-resource-controller"
        ],
        "operationId": "update_1",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLearningResourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LearningResourceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/projects/{projectId}": {
      "delete": {
        "tags": [
          "admin-project-controller"
        ],
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "admin-project-controller"
        ],
        "operationId": "update_2",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminProjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/notices/{noticeId}": {
      "patch": {
        "tags": [
          "admin-notice-controller"
        ],
        "operationId": "update_3",
        "parameters": [
          {
            "name": "noticeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNoticeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/attendances/{attendanceId}": {
      "patch": {
        "tags": [
          "admin-attendance-controller"
        ],
        "operationId": "updateAttendance",
        "parameters": [
          {
            "name": "attendanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAttendanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AttendanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/accounts/{userId}": {
      "get": {
        "tags": [
          "admin-account-controller"
        ],
        "operationId": "get",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-account-controller"
        ],
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "admin-account-controller"
        ],
        "operationId": "update_4",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/accounts/{userId}/role": {
      "patch": {
        "tags": [
          "admin-account-controller"
        ],
        "operationId": "changeRole",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/accounts/{userId}/rejection": {
      "patch": {
        "tags": [
          "admin-account-controller"
        ],
        "operationId": "reject",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/accounts/{userId}/approval": {
      "patch": {
        "tags": [
          "admin-account-controller"
        ],
        "operationId": "approve",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "health-controller"
        ],
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/schedules": {
      "get": {
        "tags": [
          "schedule-controller"
        ],
        "operationId": "getSchedules",
        "parameters": [
          {
            "name": "yearMonth",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cohortId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScheduleResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/schedules/{scheduleId}": {
      "get": {
        "tags": [
          "schedule-controller"
        ],
        "operationId": "getSchedule",
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/resources": {
      "get": {
        "tags": [
          "resource-controller"
        ],
        "operationId": "getResources",
        "parameters": [
          {
            "name": "week",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "targetPart",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PLANNING",
                "DESIGN",
                "FRONTEND",
                "BACKEND",
                "COMMON"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseLearningResourceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/resources/{resourceId}": {
      "get": {
        "tags": [
          "resource-controller"
        ],
        "operationId": "getResource",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LearningResourceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/resources/{resourceId}/download-url": {
      "get": {
        "tags": [
          "resource-controller"
        ],
        "operationId": "getDownloadUrl",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrlResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects": {
      "get": {
        "tags": [
          "project-controller"
        ],
        "operationId": "getProjects",
        "parameters": [
          {
            "name": "cohortId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "HACKATHON",
                  "IDEATHON"
                ]
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseProjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}": {
      "get": {
        "tags": [
          "project-controller"
        ],
        "operationId": "getProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/notices": {
      "get": {
        "tags": [
          "notice-controller"
        ],
        "operationId": "list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SCHEDULE",
                "PROJECT",
                "PROMOTION_EVENT",
                "OTHER"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseNoticeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/notices/{noticeId}": {
      "get": {
        "tags": [
          "notice-controller"
        ],
        "operationId": "get_1",
        "parameters": [
          {
            "name": "noticeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/lions": {
      "get": {
        "tags": [
          "lion-controller"
        ],
        "operationId": "getLions",
        "parameters": [
          {
            "name": "cohortId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "part",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PLANNING",
                "DESIGN",
                "FRONTEND",
                "BACKEND",
                "COMMON"
              ]
            }
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "MEMBER",
                "ADMIN"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseLionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/cohorts": {
      "get": {
        "tags": [
          "cohort-controller"
        ],
        "summary": "기수 목록 조회 (번호 내림차순)",
        "operationId": "getCohorts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CohortSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/certificates/{certificateId}/download-url": {
      "get": {
        "tags": [
          "certificate-controller"
        ],
        "operationId": "getDownloadUrl_1",
        "parameters": [
          {
            "name": "certificateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrlResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/certificates/preview": {
      "get": {
        "tags": [
          "certificate-controller"
        ],
        "operationId": "previewMyCertificateData",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CertificatePreviewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/kakao/login": {
      "get": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "loginRedirect",
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/auth/kakao/callback": {
      "get": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "callback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendances": {
      "get": {
        "tags": [
          "attendance-controller"
        ],
        "operationId": "listMine",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseAttendanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/attendances": {
      "get": {
        "tags": [
          "admin-attendance-controller"
        ],
        "operationId": "listAttendances",
        "parameters": [
          {
            "name": "scheduleId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "part",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PLANNING",
                "DESIGN",
                "FRONTEND",
                "BACKEND",
                "COMMON"
              ]
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NOT_CHECKED",
                "PRESENT",
                "LATE",
                "ABSENT"
              ]
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseAttendanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/accounts": {
      "get": {
        "tags": [
          "admin-account-controller"
        ],
        "operationId": "list_1",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "ACTIVE",
                "REJECTED"
              ]
            }
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "MEMBER",
                "ADMIN"
              ]
            }
          },
          {
            "name": "cohortId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "part",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PLANNING",
                "DESIGN",
                "FRONTEND",
                "BACKEND",
                "COMMON"
              ]
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/session": {
      "delete": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "logout",
        "parameters": [
          {
            "name": "refresh_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "csrf_token",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AttendanceCheckInRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1,
            "pattern": "^\\d{6}$"
          }
        }
      },
      "AttendanceResponse": {
        "type": "object",
        "properties": {
          "attendanceId": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "userName": {
            "type": "string"
          },
          "part": {
            "type": "string",
            "enum": [
              "PLANNING",
              "DESIGN",
              "FRONTEND",
              "BACKEND",
              "COMMON"
            ]
          },
          "scheduleId": {
            "type": "integer",
            "format": "int64"
          },
          "scheduleTitle": {
            "type": "string"
          },
          "scheduleDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": [
              "NOT_CHECKED",
              "PRESENT",
              "LATE",
              "ABSENT"
            ]
          },
          "checkedAt": {
            "type": "string",
            "format": "date-time"
          },
          "checkInSource": {
            "type": "string",
            "enum": [
              "SELF_CODE",
              "ADMIN"
            ]
          },
          "memo": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CertificatePreviewResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "studentId": {
            "type": "string"
          },
          "cohort": {
            "$ref": "#/components/schemas/CohortSummary"
          },
          "part": {
            "type": "string",
            "enum": [
              "PLANNING",
              "DESIGN",
              "FRONTEND",
              "BACKEND",
              "COMMON"
            ]
          },
          "activityStartedAt": {
            "type": "string",
            "format": "date"
          },
          "activityEndedAt": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "CertificateResponse": {
        "type": "object",
        "properties": {
          "certificateId": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "string",
            "enum": [
              "ISSUED",
              "FAILED"
            ]
          },
          "snapshot": {
            "$ref": "#/components/schemas/CertificatePreviewResponse"
          },
          "issuedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CohortSummary": {
        "type": "object",
        "properties": {
          "cohortId": {
            "type": "integer",
            "format": "int64"
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "AccessTokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "tokenType": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer",
            "format": "int64"
          },
          "account": {
            "$ref": "#/components/schemas/AccountResponse"
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "studentId": {
            "type": "string"
          },
          "cohort": {
            "$ref": "#/components/schemas/CohortSummary"
          },
          "part": {
            "type": "string",
            "enum": [
              "PLANNING",
              "DESIGN",
              "FRONTEND",
              "BACKEND",
              "COMMON"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "MEMBER",
              "ADMIN"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "ACTIVE",
              "REJECTED"
            ]
          },
          "rejectionReason": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateScheduleRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 150,
            "minLength": 0
          },
          "description": {
            "type": "string",
            "maxLength": 10000,
            "minLength": 0
          },
          "cohortId": {
            "type": "integer",
            "format": "int64"
          },
          "scheduleDate": {
            "type": "string",
            "format": "date"
          },
          "isAllDay": {
            "type": "boolean"
          },
          "startTime": {
            "type": "string",
            "example": "14:30:00"
          },
          "location": {
            "type": "string",
            "maxLength": 255,
            "minLength": 0
          }
        },
        "required": [
          "cohortId",
          "isAllDay",
          "scheduleDate"
        ]
      },
      "ScheduleResponse": {
        "type": "object",
        "properties": {
          "scheduleId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "cohort": {
            "$ref": "#/components/schemas/CohortSummary"
          },
          "scheduleDate": {
            "type": "string",
            "format": "date"
          },
          "isAllDay": {
            "type": "boolean"
          },
          "startTime": {
            "type": "string",
            "example": "14:30:00"
          },
          "location": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AttendanceCodeResponse": {
        "type": "object",
        "properties": {
          "scheduleId": {
            "type": "integer",
            "format": "int64"
          },
          "code": {
            "type": "string"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateLearningResourceRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 150,
            "minLength": 0
          },
          "week": {
            "type": "integer",
            "format": "int32",
            "maximum": 52,
            "minimum": 1
          },
          "targetPart": {
            "type": "string",
            "enum": [
              "PLANNING",
              "DESIGN",
              "FRONTEND",
              "BACKEND",
              "COMMON"
            ]
          },
          "fileAssetId": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "fileAssetId",
          "targetPart",
          "week"
        ]
      },
      "FileAssetResponse": {
        "type": "object",
        "properties": {
          "fileAssetId": {
            "type": "integer",
            "format": "int64"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "PROJECT_THUMBNAIL",
              "LEARNING_RESOURCE",
              "NOTICE_IMAGE",
              "CERTIFICATE"
            ]
          },
          "originalFileName": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer",
            "format": "int64"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LearningResourceResponse": {
        "type": "object",
        "properties": {
          "resourceId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "week": {
            "type": "integer",
            "format": "int32"
          },
          "targetPart": {
            "type": "string",
            "enum": [
              "PLANNING",
              "DESIGN",
              "FRONTEND",
              "BACKEND",
              "COMMON"
            ]
          },
          "createdBy": {
            "type": "integer",
            "format": "int64"
          },
          "file": {
            "$ref": "#/components/schemas/FileAssetResponse"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 150,
            "minLength": 0
          },
          "description": {
            "type": "string",
            "maxLength": 20000,
            "minLength": 0
          },
          "projectType": {
            "type": "string",
            "enum": [
              "HACKATHON",
              "IDEATHON"
            ]
          },
          "thumbnailAssetId": {
            "type": "integer",
            "format": "int64"
          },
          "deployUrl": {
            "type": "string",
            "maxLength": 2048,
            "minLength": 0
          },
          "githubUrl": {
            "type": "string",
            "maxLength": 2048,
            "minLength": 0
          },
          "cohortId": {
            "type": "integer",
            "format": "int64"
          },
          "startedMonth": {
            "type": "string",
            "example": "2025-03"
          },
          "endedMonth": {
            "type": "string",
            "example": "2025-03"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectParticipantRequest"
            }
          },
          "dateRangeValid": {
            "type": "boolean"
          },
          "participantsUnique": {
            "type": "boolean"
          },
          "deployUrlValid": {
            "type": "boolean"
          },
          "githubUrlValid": {
            "type": "boolean"
          }
        },
        "required": [
          "cohortId",
          "endedMonth",
          "participants",
          "projectType",
          "startedMonth"
        ]
      },
      "ProjectParticipantRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "role": {
            "type": "string",
            "maxLength": 100,
            "minLength": 0
          }
        },
        "required": [
          "userId"
        ]
      },
      "AdminProjectResponse": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "projectType": {
            "type": "string",
            "enum": [
              "HACKATHON",
              "IDEATHON"
            ]
          },
          "thumbnailAssetId": {
            "type": "integer",
            "format": "int64"
          },
          "deployUrl": {
            "type": "string"
          },
          "githubUrl": {
            "type": "string"
          },
          "cohort": {
            "$ref": "#/components/schemas/CohortSummary"
          },
          "startedMonth": {
            "type": "string",
            "example": "2025-03"
          },
          "endedMonth": {
            "type": "string",
            "example": "2025-03"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectParticipantResponse"
            }
          },
          "createdBy": {
            "type": "integer",
            "format": "int64"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProjectParticipantResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "CreateNoticeRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 150,
            "minLength": 0
          },
          "content": {
            "type": "string",
            "maxLength": 20000,
            "minLength": 0
          },
          "tag": {
            "type": "string",
            "enum": [
              "SCHEDULE",
              "PROJECT",
              "PROMOTION_EVENT",
              "OTHER"
            ]
          },
          "isFixed": {
            "type": "boolean"
          },
          "externalUrl": {
            "type": "string",
            "maxLength": 2048,
            "minLength": 0
          },
          "imageAssetId": {
            "type": "integer",
            "format": "int64"
          },
          "externalUrlValid": {
            "type": "boolean"
          }
        },
        "required": [
          "tag"
        ]
      },
      "FileView": {
        "type": "object",
        "properties": {
          "file": {
            "$ref": "#/components/schemas/FileAssetResponse"
          },
          "downloadUrl": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NoticeResponse": {
        "type": "object",
        "properties": {
          "noticeId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "tag": {
            "type": "string",
            "enum": [
              "SCHEDULE",
              "PROJECT",
              "PROMOTION_EVENT",
              "OTHER"
            ]
          },
          "isFixed": {
            "type": "boolean"
          },
          "externalUrl": {
            "type": "string"
          },
          "image": {
            "$ref": "#/components/schemas/FileView"
          },
          "createdBy": {
            "type": "integer",
            "format": "int64"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FileAssetRequest": {
        "type": "object",
        "properties": {
          "purpose": {
            "type": "string",
            "enum": [
              "PROJECT_THUMBNAIL",
              "LEARNING_RESOURCE",
              "NOTICE_IMAGE",
              "CERTIFICATE"
            ]
          },
          "objectKey": {
            "type": "string",
            "maxLength": 768,
            "minLength": 0
          },
          "originalFileName": {
            "type": "string",
            "maxLength": 255,
            "minLength": 0,
            "pattern": "^[^/\\\\\\p{Cntrl}]+$"
          },
          "mimeType": {
            "type": "string",
            "maxLength": 150,
            "minLength": 0
          },
          "sizeBytes": {
            "type": "integer",
            "format": "int64"
          },
          "checksumSha256": {
            "type": "string",
            "pattern": "^[A-Fa-f0-9]{64}$"
          }
        },
        "required": [
          "purpose",
          "sizeBytes"
        ]
      },
      "FileUploadUrlRequest": {
        "type": "object",
        "properties": {
          "purpose": {
            "type": "string",
            "enum": [
              "PROJECT_THUMBNAIL",
              "LEARNING_RESOURCE",
              "NOTICE_IMAGE",
              "CERTIFICATE"
            ]
          },
          "originalFileName": {
            "type": "string",
            "maxLength": 255,
            "minLength": 0,
            "pattern": "^[^/\\\\\\p{Cntrl}]+$"
          },
          "mimeType": {
            "type": "string",
            "maxLength": 150,
            "minLength": 0
          },
          "sizeBytes": {
            "type": "integer",
            "format": "int64"
          },
          "checksumSha256": {
            "type": "string",
            "pattern": "^[A-Fa-f0-9]{64}$"
          }
        },
        "required": [
          "purpose",
          "sizeBytes"
        ]
      },
      "FileUploadUrlResponse": {
        "type": "object",
        "properties": {
          "uploadUrl": {
            "type": "string"
          },
          "objectKey": {
            "type": "string"
          },
          "requiredHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateAccountRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          "department": {
            "type": "string",
            "maxLength": 100,
            "minLength": 0
          },
          "studentId": {
            "type": "string",
            "maxLength": 30,
            "minLength": 0,
            "pattern": "^[A-Za-z0-9-]+$"
          },
          "cohortId": {
            "type": "integer",
            "format": "int64"
          },
          "part": {
            "type": "string",
            "enum": [
              "PLANNING",
              "DESIGN",
              "FRONTEND",
              "BACKEND",
              "COMMON"
            ]
          }
        },
        "required": [
          "cohortId",
          "part"
        ]
      },
      "UpdateScheduleRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "scheduleDate": {
            "type": "string",
            "format": "date"
          },
          "isAllDay": {
            "type": "boolean"
          },
          "startTime": {
            "type": "string",
            "example": "14:30:00"
          },
          "location": {
            "type": "string"
          },
          "allDayProvided": {
            "type": "boolean"
          },
          "anyChangeProvided": {
            "type": "boolean"
          },
          "providedValueValid": {
            "type": "boolean"
          }
        },
        "required": [
          "version"
        ]
      },
      "UpdateLearningResourceRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "week": {
            "type": "integer",
            "format": "int32"
          },
          "targetPart": {
            "type": "string",
            "enum": [
              "PLANNING",
              "DESIGN",
              "FRONTEND",
              "BACKEND",
              "COMMON"
            ]
          },
          "fileAssetId": {
            "type": "integer",
            "format": "int64"
          },
          "anyChangeProvided": {
            "type": "boolean"
          },
          "providedValueValid": {
            "type": "boolean"
          }
        },
        "required": [
          "version"
        ]
      },
      "UpdateProjectRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "projectType": {
            "type": "string",
            "enum": [
              "HACKATHON",
              "IDEATHON"
            ]
          },
          "thumbnailAssetId": {
            "type": "integer",
            "format": "int64"
          },
          "deployUrl": {
            "type": "string"
          },
          "githubUrl": {
            "type": "string"
          },
          "cohortId": {
            "type": "integer",
            "format": "int64"
          },
          "startedMonth": {
            "type": "string",
            "example": "2025-03"
          },
          "endedMonth": {
            "type": "string",
            "example": "2025-03"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectParticipantRequest"
            }
          },
          "anyChangeProvided": {
            "type": "boolean"
          },
          "providedValueValid": {
            "type": "boolean"
          },
          "participantsUnique": {
            "type": "boolean"
          },
          "deployUrlValid": {
            "type": "boolean"
          },
          "githubUrlValid": {
            "type": "boolean"
          }
        },
        "required": [
          "version"
        ]
      },
      "UpdateNoticeRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "tag": {
            "type": "string",
            "enum": [
              "SCHEDULE",
              "PROJECT",
              "PROMOTION_EVENT",
              "OTHER"
            ]
          },
          "isFixed": {
            "type": "boolean"
          },
          "externalUrl": {
            "type": "string"
          },
          "imageAssetId": {
            "type": "integer",
            "format": "int64"
          },
          "fixedProvided": {
            "type": "boolean"
          },
          "anyChangeProvided": {
            "type": "boolean"
          },
          "providedValueValid": {
            "type": "boolean"
          },
          "externalUrlValid": {
            "type": "boolean"
          }
        },
        "required": [
          "version"
        ]
      },
      "UpdateAttendanceRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "PRESENT",
              "LATE",
              "ABSENT"
            ]
          },
          "memo": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "memoValid": {
            "type": "boolean"
          }
        },
        "required": [
          "status",
          "version"
        ]
      },
      "UpdateAccountRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "studentId": {
            "type": "string"
          },
          "part": {
            "type": "string",
            "enum": [
              "PLANNING",
              "DESIGN",
              "FRONTEND",
              "BACKEND",
              "COMMON"
            ]
          },
          "cohortId": {
            "type": "integer",
            "format": "int64"
          },
          "anyChangeProvided": {
            "type": "boolean"
          },
          "providedValueValid": {
            "type": "boolean"
          }
        },
        "required": [
          "version"
        ]
      },
      "UpdateRoleRequest": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "MEMBER",
              "ADMIN"
            ]
          },
          "version": {
            "type": "integer",
            "format": "int32"
          }
        },
        "required": [
          "role",
          "version"
        ]
      },
      "RejectAccountRequest": {
        "type": "object",
        "properties": {
          "rejectionReason": {
            "type": "string",
            "maxLength": 500,
            "minLength": 0
          },
          "version": {
            "type": "integer",
            "format": "int32"
          }
        },
        "required": [
          "version"
        ]
      },
      "ApproveAccountRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32"
          }
        },
        "required": [
          "version"
        ]
      },
      "PageMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "hasNext": {
            "type": "boolean"
          }
        }
      },
      "PageResponseLearningResourceResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LearningResourceResponse"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageMeta"
          }
        }
      },
      "DownloadUrlResponse": {
        "type": "object",
        "properties": {
          "downloadUrl": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PageResponseProjectResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectResponse"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageMeta"
          }
        }
      },
      "ProjectResponse": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "deployUrl": {
            "type": "string"
          },
          "githubUrl": {
            "type": "string"
          },
          "startedMonth": {
            "type": "string",
            "example": "2025-03"
          },
          "endedMonth": {
            "type": "string",
            "example": "2025-03"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "projectType": {
            "type": "string",
            "enum": [
              "HACKATHON",
              "IDEATHON"
            ]
          },
          "thumbnail": {
            "$ref": "#/components/schemas/FileView"
          },
          "cohort": {
            "$ref": "#/components/schemas/CohortSummary"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectParticipantResponse"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PageResponseNoticeResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NoticeResponse"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageMeta"
          }
        }
      },
      "LionResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "cohort": {
            "$ref": "#/components/schemas/CohortSummary"
          },
          "part": {
            "type": "string",
            "enum": [
              "PLANNING",
              "DESIGN",
              "FRONTEND",
              "BACKEND",
              "COMMON"
            ]
          },
          "activityType": {
            "type": "string"
          }
        }
      },
      "PageResponseLionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LionResponse"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageMeta"
          }
        }
      },
      "PageResponseAttendanceResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttendanceResponse"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageMeta"
          }
        }
      },
      "Pageable": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PageResponseAccountResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountResponse"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageMeta"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
